{{ 'main-collection.css' | asset_url | stylesheet_tag }}

{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% paginate collection.products by limit %}
<section class="section main-collection" data-section-id="{{ section.id }}" data-section-type="collection-template">

    <div class="collection">

        {%- case section.settings.grid -%}
            {% when 2 %}
                {%- assign grid_item_width = 'u-1/2@phab' -%}
                {%- assign image_size = '740x' -%}
                {% if section.settings.show_sidebar and section.blocks.size > 0 and section.settings.sidebar_layout == 'sidebar' %}
                    {%- assign container_size = 'full' -%}
                {% else %}
                    {%- assign container_size = 'large' -%}
                {% endif %}
            {% when 3 %}
                {%- assign grid_item_width = 'u-1/2@phab u-1/3@tab' -%}
                {%- assign image_size = '520x' -%}
                {% if section.settings.show_sidebar and section.blocks.size > 0 and section.settings.sidebar_layout == 'sidebar' %}
                    {%- assign container_size = 'full' -%}
                {% else %}
                    {%- assign container_size = 'large' -%}
                {% endif %}
            {% when 4 %}
                {%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
                {%- assign image_size = '380x' -%}
                {%- assign container_size = 'full' -%}
        {%- endcase -%}

        <div class="container container--{{ container_size }}">
            <div class="collection-main" id="collection-main">
              
                <div class="collection-main__sort js-collection-sort{% if section.settings.sort_enable %} collection-main__sort--sort{% endif %}" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}">
                    <div class="o-layout o-layout--right{% if section.settings.grid == 4 %} o-layout--small{% endif %}{% if section.settings.grid_mobile == '2' %} o-layout--small@tab-down{% endif %}">          
                        {% if section.settings.sort_enable %}
                            <div class="o-layout__item o-layout__item u-1/1 u-1/2@tab u-1/4@desk">
                                
                                <div class="selector-wrapper collection-main__sort__selector">
                                    <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                                    <select name="SortBy" id="SortBy">
                                        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
                                        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
                                        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
                                        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
                                        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
                                        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
                                        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
                                        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
                                    </select>
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
                
                <div class="collection-products">
                    {% if section.settings.show_sidebar and section.blocks.size > 0 %}
                    <div class="o-layout">

                        <div class="o-layout__item u-1/1 u-1/4@desk">
                            <aside class="collection-sidebar collection-sidebar--{{ section.settings.sidebar_layout }} collection-sidebar--{{ settings.color_drawer_style }} js-collection-draw">
                                <div class="collection-sidebar__wrapper">
                                    {% for block in section.blocks %}
                                        {% if block.type == 'linklist' %}
                                            {% if linklists[block.settings.linklist].links.size > 0 %}
                                                <div class="collection-sidebar__section">
                                                    <h4 class="collection-sidebar__title h5">{{ linklists[block.settings.linklist].title }}</h4>
                                                    <ul class="collection-sidebar__items o-list-bare">
                                                        {% for link in linklists[block.settings.linklist].links %}
                                                            <li class="collection-sidebar__item{% if link.active %} collection-sidebar__item--active{% endif %}">
                                                                <a href="{{ link.url }}" class="collection-sidebar__link">{{ link.title }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        {% if block.type == 'tags' %}
                                            {% if collection.all_tags.size > 0 %}
                                                <div class="collection-sidebar__section collection-sidebar__section--tags">
                                                    <h4 class="collection-sidebar__title h5">
                                                        {{ block.settings.title | escape }}
                                                    </h4>
                                                    <ul class="collection-sidebar__items o-list-bare">
                                                        {% for tag in collection.all_tags %}
                                                            {% if current_tags contains tag %}
                                                                <li class="collection-sidebar__item collection-sidebar__item--active">
                                                                    {{ tag | link_to_remove_tag: tag | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                                </li> 
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% for tag in collection.all_tags %}
                                                            {% unless current_tags contains tag %}
                                                                <li class="collection-sidebar__item">
                                                                    {{ tag | link_to_add_tag: tag | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                                </li>
                                                            {% endunless %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                {% if current_tags %}
                                                    <div class="collection-sidebar__section collection-sidebar__section--group-clear">
                                                        <a href="{{ collection.url }}" class="c-btn c-btn--small c-btn--light c-btn--close">{{ 'collections.general.tags_clear_filters' | t }}</a>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        {% if block.type == 'group' %}
                                            {% if template contains 'collection' and collection.all_tags.size > 1 %}
                                                <!-- A recursive loop to catch and filter out the different tag categories -->
                                                {% assign c = 0 %} 
                                                {% for t in collection.all_tags %}
                                                    {% capture cat %}{{ cat }}{% capture temp_cat %}{% if t contains '_' %}{% assign cat_grp = t | split: '_' %}{{ cat_grp.first }}{% endif %}{% endcapture %}{% unless cat contains temp_cat %}{% if t contains '_' %}{% assign new_cat_grp = t | split: '_' %}{{ new_cat_grp.first }}{% endif %}{% unless forloop.last %}+{% endunless %}{% assign c = c | plus: 1 %}{% endunless %}{% endcapture %}
                                                {% endfor %}

                                                <!-- create array of tag categories -->
                                                {% assign cat_array = cat | split: '+' %}

                                                <!-- loop through tag categories -->  
                                                {% for i in cat_array %}
                                                    <!-- ignore if tag category is empty -->  
                                                    {% unless i == '' %}
                                                        <div class="collection-sidebar__section collection-sidebar__section--tags collection-sidebar__section--group">
                                                            <h4 class="collection-sidebar__title h5">{{ i }}</h4>
                                                            <ul class="collection-sidebar__items o-list-bare">
                                                                <!-- loop through collection tags -->  
                                                                {% for t in collection.all_tags %}
                                                                    <!-- if tag contains the category title -->
                                                                    {% if t contains i %}
                                                                        <!-- strip out tag category prefix and add/remove link for tag filtering -->
                                                                        {% if current_tags contains t %}
                                                                            <li class="collection-sidebar__item collection-sidebar__item--active">
                                                                                {{ t | remove: i | remove: '_' | link_to_remove_tag: t | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                                            </li> 
                                                                        {% else %}
                                                                            <li class="collection-sidebar__item">
                                                                                {{ t | remove: i | remove: '_' | link_to_add_tag: t | replace: ' title', ' class="collection-sidebar__link" title' }}
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endunless %}
                                                {% endfor %}

                                                {% if current_tags %}
                                                    <div class="collection-sidebar__section collection-sidebar__section--group-clear">
                                                        <a href="{{ collection.url }}" class="c-btn c-btn--small c-btn--light c-btn--close">{{ 'collections.general.tags_clear_filters' | t }}</a>
                                                    </div>
                                                {% endif %}

                                            {% endif %}                                    
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </aside>
                        </div>

                        <div class="o-layout__item u-1/1 {% if section.settings.sidebar_layout == 'sidebar' %}u-3/4@desk{% else %}u-1/1@desk{% endif %}">

                    {% endif %}

                    <div class="o-layout{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.grid == 4 %} o-layout--small{% endif %}{% if section.settings.grid_mobile == '2' %} o-layout--small@tab-down{% endif %}">
                        {% for product in collection.products %}
                            <div class="o-layout__item u-1/{{ section.settings.grid_mobile }} {{ grid_item_width }}">
                                {% include 'product-grid-item', grid_image_width: image_size, page: 'collection' %}
                            </div>
                        {% else %}
                            {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
                                {% for i in (1..8) %}
                                    <div class="o-layout__item u-1/{{ section.settings.grid_mobile }} {{ grid_item_width }}">
                                        <a href="#" class="product-link home-products__link">
                                            <div class="product product--{{ settings.product_grid_align }}">
                                                <div class="product__media">
                                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                                    {{ 'product-' | append: current | placeholder_svg_tag: 'product__img placeholder-svg placeholder-svg--light' }}
                                                </div>
                                                <div class="product__details product__details--{{ settings.product_grid_text_size }}">
                                                    <h3 class="product__title">{{ 'homepage.onboarding.product_title' | t }}</h3>
                                                    {% if settings.product_grid_vendor %}
                                                        <p class="product__vendor">{{ 'homepage.onboarding.product_vendor' | t }}</p>
                                                    {% endif %}
                                                    <p class="product__price">
                                                        {% include 'product-price' %}
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="o-layout__item 1/1">
                                    <div class="collection-empty">
                                        <h5 class="collection-empty__title">{{ 'collections.general.no_matches' | t }}</h5>
                                        <span class="emoji collection-empty__emoji">
                                            <i class="icon icon--confused"></i>
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

            </div>

            {% if paginate.pages > 1 %}
                <div class="collection-pagination">
                    <div class="container">
                        <div class="pagination">
                            <div class="pagination__items">
                                {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>    
</section>

{% endpaginate %}

{%- liquid
    assign meta_brands = collection.metafields.links.brand
    assign brand_handles = meta_brands | join | split: ' '
-%}

{%- if meta_brands != blank -%}
<section class="products-section related-brands container">
    <h2 class="products-title">{{ 'collection.related_brands' | t }}</h2>
    <ul class="brand-links">
        {%- for brand_handle in brand_handles -%}
        {%- assign bh = brand_handle | handleize -%}
        <li class="brand-item">
            <a href="{{ collections[bh].url }}" class="brand-link">
                {%- if collections[bh].image -%}
                    <img src="{{ collections[bh].image | img_url: '150x75' }}" width="150" height="75" alt="{{ collections[bh].title }}" class="brand-image">
                {%- else -%}
                    {{ 'lifestyle-2' | placeholder_svg_tag }}
                {%- endif -%}
            </a>
        </li>
        {%- endfor -%}
    </ul>
</section>
{%- endif -%}

{% schema %}
{
    "name": "コレクション",
    "class": "collection-main-section",
    "settings": [
        {
            "type": "range",
            "id": "grid",
            "label": "商品一覧の列数 (デスクトップ)",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 4
        },
        {
            "type": "select",
            "id": "grid_mobile",
            "label": "商品一覧の列数 (モバイル)",
            "default": "2",
            "options": [
                {
                    "label": "1",
                    "value": "1"
                },
                {
                    "label": "2",
                    "value": "2"
                }
            ]
        },
        {
            "type": "range",
            "id": "rows",
            "label": "商品一覧の行数",
            "min": 2,
            "max": 12,
            "step": 1,
            "default": 4
        },
        {
            "type": "checkbox",
            "id": "sort_enable",
            "label": "並べ替えを表示",
            "default": true
        }
    ]
}
{% endschema %}